* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: 'Century Gothic', 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
}

/* Most of the tricks I used are pulled from the previous assignment- however, I did search on Google for other ways to dynamically change text size. At this link, https://www.w3schools.com/css/css_font_size.asp, I learned about vw units and percentages of screen. I used this knowledge for many sections of the CSS, but wrote it for my purposes. I also learned about background gradients from https://www.w3schools.com/css/css3_gradients.asp, which I wanted to use in my header.

Other than that, it was a lot of messing around with various values until things looked the way I wanted. One thing I was particularly struggling with was getting the bottom text to move properly within the header picture as the screen changed (the "p" stuff within the header). I eventually figured out using "bottom-margin" instead of just "bottom" did the trick.
*/


a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.link1 {
    color: #adffb6;
}

.link2 {
    color: #faffcf;
}

.link3 {
    color: #ffd5d5;
}

.link4{
    color: #ffffff;
}

.banner {
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.banner h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 70px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #7498CC;
    height: 100px;
    width: 100%;
}

.banner nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 25px;
    padding-right: 10px;

    font-size: 30px;
    background-color: transparent;
}

.banner nav ul {
    background-color: transparent;
    
}

.banner nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: transparent;
    margin-left: 30px;
    text-align: center;
    
}

.top {
    background-color: transparent;
    position: relative;
    
}

.top p {
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 4vw;
    background-image: linear-gradient(transparent, rgb(57, 123, 153));
    width: 100%;
    height: 13%;
    
}

.sub1 {
    color: #adffb6;
}

.sub2 {
    color: #faffcf;
}

.sub3 {
    color: #ffd5d5;
}


.castle {
    max-width: 100%;
    height: auto;
  }


/* .profilepic {
    display: block;
    margin-right: 10000px;
    border-radius: 100%;
    max-width: 20%;
    height: auto;
    border: 2px solid black;
  } */

  .banner p {
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 4vw;
    background-image: linear-gradient(transparent, rgb(57, 123, 153));
    width: 100%;
    height: 13%;
    
}
.content {
    width: 100%;
    display: block;
    margin-left: 0px; 
    font-size: 30px;
}

.gradient1 h2 {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 150px;
    font-size: 50px; 
    color: white;
    width: 100%;
    background-image: linear-gradient(rgb(57, 123, 153), rgb(55, 89, 121));
}

.content {
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #375979;
    color: #ffffff;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    
    
}

.righttext{
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    text-align: justify;
    flex: 60%;
    font-size: 2vw;
}

/* .lefttext{
    margin-top: 50px;
    float: left;
    max-width: 50%;
    text-align: justify;
} */

  .picture-left {
    flex: 25%;
    width: 250px;
    margin-top: 1px;
    border-radius: 100%;
    height: auto;
    border: 2px solid black;
}

/* .picture-right {
    float: right;
    max-width: 25%;
    margin-right: 25px;
    margin-top: 1px;
    border-radius: 100%;
    max-width: 25%;
    height: auto;
    border: 2px solid black;
} */