* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: 'Century Gothic', 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', 'sans-serif';
}

html {
    scroll-behavior: smooth;
  }

/* Most of the tricks I used are pulled from previous assignments- however, I did search on Google for other ways to dynamically change text size. At this link, https://www.w3schools.com/css/css_font_size.asp, I learned about vw units and percentages of screen. I used this knowledge for many sections of the CSS, but wrote it for my purposes. I also learned about background gradients from https://www.w3schools.com/css/css3_gradients.asp, which I wanted to use in each section.

For the flexboxes, I used https://stackoverflow.com/questions/35871294/center-text-over-an-image-in-flexbox as a reference to learn how to put text inside the image. I found this to be very frustrating and I had to redo the code from scratch a few times.

The instructions also mentioned a "ui scroll." Not sure if that meant that it just goes to that section or if an animation is needed, but I added one to be safe. I learned about this animation from this website: https://css-tricks.com/almanac/properties/s/scroll-behavior/

Other than that, it was a lot of messing around with various values until things looked the way I wanted. One thing I was particularly struggling with was getting the bottom text to move properly within the header picture as the screen changed (the "p" stuff within the header). I eventually figured out using "bottom-margin" instead of just "bottom" did the trick.
*/


a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.link1 {
    color: #adffb6;
}

.link2 {
    color: #faffcf;
}

.link3 {
    color: #ffd5d5;
}

.link4{
    color: #ffffff;
}

.banner {
    background-color: transparent;
    position: relative;
    z-index: 1;
}



.banner h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 4vw;
    color: #ffffff;
    font-weight: bolder;
    background-color: #7498CC;
    height: 100px;
    width: 100%;
}

.bannerpic {
width: 5%;
height: auto;
float: left;
margin-right: 20px;
    
}

.banner nav {
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 60px;
    padding-right: 10px;

    font-size: 23px;
    background-color: transparent;
}

.banner nav ul {
    background-color: transparent;
    
}

.banner nav ul li {
    list-style-type: none;
    display: inline-block;
    background-color: transparent;
    margin-left: 30px;
    text-align: center;
    
}

.top {
    background-color: transparent;
    position: relative;
    
}

.top p {
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 4vw;
    background-image: linear-gradient(transparent, rgb(57, 123, 153));
    width: 100%;
    height: 13%;
    
}

.sub1 {
    color: #adffb6;
}

.sub2 {
    color: #faffcf;
}

.sub3 {
    color: #ffd5d5;
}


.castle {
    max-width: 100%;
    height: auto;
  }

  .banner p {
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-size: 4vw;
    background-image: linear-gradient(transparent, rgb(57, 123, 153));
    width: 100%;
    height: 13%;
    
}
.content1 {
    width: 100%;
    display: block;
    margin-left: 0px; 
    font-size: 30px;
}

.gradient1 h2 {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 150px;
    font-size: 35px; 
    color: white;
    width: 100%;
    background-image: linear-gradient(rgb(57, 123, 153), rgb(55, 89, 121));
}

.content1 {
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #375979;
    color: #ffffff;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    
    
}

.text1{
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    text-align: justify;
    flex: 60%;
    font-size: 2vw;
}

.pic0{
    flex: 25%;
    width: 250px;
    margin-top: 1px;
    border-radius: 100%;
    height: auto;
    border: 2px solid black;
}

.pic1{
    flex: 25%;
    width: 250px;
    margin-top: 1px;
    border-radius: 100%;
    height: auto;
    border: 2px solid black;
}


.gradient2 h3 {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 150px;
    font-size: 35px; 
    color: white;
    width: 100%;
    background-image: linear-gradient(rgb(55, 89, 121), rgb(0, 0, 0));
}


.portfolio {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 125px;
  }
  
  .container {
    position: relative;
    cursor: pointer;
    
    
    
    
  }
  
  .challenge01 {
    flex: 100%;
    margin: 10px;
    border-radius: 10%;
    border: 15px solid rgb(0, 0, 0);
    width: 100%;
    opacity: .6;
    max-height: inherit;
    transition:  0.5s;
    overflow: hidden;
  }


  .pic2 {
    flex: 25%;
    max-width: 600px;
    margin: 10px;
    border-radius: 10%;
    border: 15px solid rgb(0, 0, 0);
    width: 100%;
    opacity: .6;
    max-height: inherit;
    transition:  0.5s;
    overflow: hidden;


  }

  .piclabel {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    background-color: black;
    align-items: flex-end;
    justify-content: flex-start;
    justify-content: center;
    position: absolute;
    left: 10px;
    bottom: 60px;
    margin: 0;
    padding: 20px;
    font-size: 25px;
    opacity: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

 

  .container:hover .piclabel{
    opacity: 100;
  }
  
  .container:hover .challenge01{
    opacity: 100;
  }

  .container:hover .pic2{
    opacity: 100;
  }

  .gradient3 h5 {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 150px;
    font-size: 35px; 
    color: white;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(149, 137, 221));
}



.content3 {
    
    background-color: #9589DD;
    color: #ffffff;
    text-align: center;
    
    font-size: 20px;
    
}

.content3 p {
    
    list-style-type: none;
    display: inline-block;
    margin: 30px;
    
    
}



@media screen and (max-width: 1000px) {
    
  
    .content1 {
        margin-bottom: 0px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #375979;
        color: #ffffff;
        overflow:hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        
        
    }
    
    .text1{
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 20px;
        width: 500px;
        text-align: justify;
        flex: 60%;
        font-size: 20px;
    }
    
    .pic0{
        
        max-width: 100%;
        margin: 10%;
        border-radius: 25%;
        border: 2px solid black;
    }
    
    .pic1{
        display: none; 
    }

    .banner h1 {
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 1px;
        padding-left: 10px;
        font-size: 32px;
        color: #ffffff;
        font-weight: bolder;
        background-color: #7498CC;
        height: 100px;
        width: 100%;
    }
    
    .bannerpic {
    width: 60px;
    height: auto;
    float: left;
    margin-right: 25px;
        
    }
    
    .banner nav {
        position: fixed;
        text-align: center;
        padding-top: 60px;
        padding-right: 0px;
    
        font-size: 20px;
        background-color: transparent;
    }
    
    .banner nav ul {
        background-color: transparent;
        
    }
    
    .banner nav ul li {
        list-style-type: none;
        display: inline-block;
        background-color: transparent;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        
    }
    
    .top {
        background-color: transparent;
        position: relative;
        
    }
    
    .top p {
        position: absolute;
        text-align: right;
        bottom: 0px;
        right: 0px;
        padding-bottom: 15px;
        padding-right: 10px;
        font-size: 27px;
        background-image: linear-gradient(transparent, rgb(57, 123, 153));
        width: 100%;
        height: 13%;
        
    }
    
    .sub1 {
        color: #adffb6;
    }
    
    .sub2 {
        color: #faffcf;
    }
    
    .sub3 {
        color: #ffd5d5;
    }
    
    
    .castle {
        margin-top: 100px;
        max-width: 100%;
        height: auto;
      }
    
      .banner p {
        position: absolute;
        text-align: right;
        bottom: 0px;
        right: 0px;
        padding-bottom: 15px;
        padding-right: 10px;
        font-size: 4vw;
        background-image: linear-gradient(transparent, rgb(57, 123, 153));
        width: 100%;
        height: 13%;
        
    }

    .challenge01 {
        flex: 100%;
        margin: 0px;
        border-radius: 10%;
        border: 15px solid rgb(0, 0, 0);
        width: 100%;
        opacity: .6;
        max-height: inherit;
        transition:  0.5s;
        overflow: hidden;
      }
    
    
      .pic2 {
        flex: 25%;
        max-width: 600px;
        margin: 0px;
        border-radius: 10%;
        border: 15px solid rgb(0, 0, 0);
        width: 100%;
        opacity: .6;
        max-height: inherit;
        transition:  0.5s;
        overflow: hidden;
        }


     .piclabel {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
    background-color: black;
    align-items: flex-end;
    justify-content: flex-start;
    justify-content: center;
    position: absolute;
    left: 10px;
    bottom: 60px;
    margin: 0;
    padding: 20px;
    font-size: 25px;
    opacity: 100;
    white-space: pre-wrap;
    word-wrap: break-word;
  }


  .portfolio {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 30px;
  }
  


}


@media screen and (max-width: 450px) {



    .banner h1 {
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 15px;
        padding-left: 20px;
        font-size: 30px;
        color: #ffffff;
        font-weight: bolder;
        background-color: #7498CC;
        height: 100px;
        width: 100%;
    }
    
    .bannerpic {
    width: 60px;
    height: auto;
    left: 0%;
    margin-right: 25px;
        
    }
    
    .banner nav {
        position: fixed;
        text-align: center;
        padding-top: 80px;
        padding-right: 0px;
        top: 0px;
        left: 0px;
        font-size: 15px;
        background-color: transparent;
    }
    
    .banner nav ul {
        background-color: transparent;
        
    }
    
    .banner nav ul li {
        list-style-type: none;
        display: inline-block;
        background-color: transparent;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        
    }


    .top p {
        position: absolute;
        text-align: center;
        bottom: 0px;
        right: 0px;
        padding-top: 25px;
        padding-right: 10px;
        font-size: 24px;
        background-image: linear-gradient(transparent, rgb(57, 123, 153));
        width: 100%;
        height: 13%;
        
    }



    .content3 {
    
        background-color: #9589DD;
        color: #ffffff;
        text-align: center;
        
        font-size: 20px;
        
    }


    .content3 p {
    
        list-style-type: none;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
        
        
    }

    .pic0{
        
        max-width: 100%;
        margin-top: 15px;
        margin-left: 0;
        margin-bottom: 15px;
        margin-right: 0;
        border-radius: 25%;
        border: 2px solid black;
    }


    

    
}